<template name="game">
  {{> createShip}}
  <h3>Seed: {{game.seedString}}</h3>
  {{> myShip}}
  {{> controls}}
  <div class="game-wrapper">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="800" height="600"
         viewBox="0 0 800 600"
         id="game"
         data-width="3000"
         data-height="2000">
      <g class="viewport">
        {{#if microView}}
        {{> micro}}
        {{else}}
        {{> macro}}
        {{/if}}
      </g>
    </svg>
    {{#if microView}}
    {{> microHud}}
    {{else}}
    {{> macroHud}}
    {{/if}}
  </div>
</template>