<template name="macro">
  {{#each connections}}
  <line class="connection" x1="{{cx}}" y1="{{cy}}" x2="{{x}}" y2="{{y}}"></line>
  {{/each}}
  {{#each game.beacons}}
  {{#if selected}}
  <circle class="beacon-background" r="8" cx="{{x}}" cy="{{y}}"></circle>
  {{/if}}
  <circle class="beacon{{#if selected}} is-selected{{/if}}" data-id="{{id}}" r="4" cx="{{x}}" cy="{{y}}"></circle>
  {{#if selected}}
  <text class="beacon-name"  transform="translate(10, 10)" x="{{x}}" y="{{y}}">{{name}}</text>
  {{/if}}
  {{/each}}
</template>